@CHARSET "UTF-8";

/* Realisations */

.realise-pic {
	width: 30px;
}
.realise-progress {
	height: 30px;
	margin-bottom: 0px;
}
.realise-progress-bar {
	height: 30px;
	line-height: 30px;
}

.inputChangeNombre {
	width: 25px;
	height: 30px;
}

#exportButton{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Calendrier */

.calendrier-entete {
	width: 30%;
}

.calendrier-aujourdhui {
	background-color: #d9edf7;
}

.nom-jour {
	color: #337ab7;
}