.classpath
.project
.settings
nb-configuration.xml

/server/nbproject/
/server/src/main/resources/config/db/hibernate.cfg.xml
/server/src/test/resources/config/db/hibernate.cfg.xml
/server/target/
/server/.classpath
/server/.project
/server/settings

/angular/target/

/bin/
/target/

/kv-4.2.10/
