<!DOCTYPE html>

<div>

<h2> Articles scientifiques</h2>


<ul id="draftOracleTabs" class="nav nav-tabs" >
	<li data-ng-class="{active:currentTab === 'tabVoirArticles'}"><a
		role="button" id="tabVoirArticlesBtn"
		data-ng-click="currentTab='tabVoirArticles'">Voir les articles</a></li>
                
	<li data-ng-class="{active:currentTab === 'tabRechercheArticles'}"><a
		role="button" id="tabRechercheArticlesBtn"
		data-ng-click="currentTab='tabRechercheArticles'">Recherche des articles</a></li>
</ul>



<div id="tabVoirArticles" data-ng-show="currentTab === 'tabVoirArticles'">
    <h3> Liste des articles </h3>

    <table class="table">
			<thead>
				<tr>
					<th>id</th>
					<th>titre</th>
					<th>resume</th>
					<th>prix</th>
					
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="article in articles">
					<td>{{article.id}}</td>
                                        <td>{{article.titre}}</td>
					<td>{{article.resume}}</td>
                                        <td>{{article.prix}}</td>
				</tr>
			</tbody>
		</table>
    
</div>

<div id="tabRechercheArticles" data-ng-if="currentTab === 'tabRechercheArticles'">
    
  <h3>Recherche des articles</h3>  
</div>
</div>
