<!DOCTYPE html>
<!-- Declares the root element that allows behaviour to be modified through Angular custom HTML tags. -->

<html ng-app="myApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Projet Java EE</title>
        
        <!-- build:css css/third-party.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="lib/dependencies/css/bootstrap.min.css" />
        <link rel="stylesheet" href="lib/dependencies/css/ng-grid.min.css" />
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css css/application.css -->
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        <!-- endbuild -->
        
        <!-- build:js lib/third-party.js -->
        <!-- bower:js -->
        <script src="lib/dependencies/angular.min.js"></script>
        <script src="lib/dependencies/angular-ui.min.js"></script>
        <script src="lib/dependencies/angular-resource.min.js"></script>
        <script src="lib/dependencies/jquery.min.js"></script>
        <script src="lib/dependencies/ui-bootstrap-tpls.min.js"></script>
        <script src="lib/dependencies/ng-grid.min.js"></script>
    
        <!-- endbower -->
        <!-- endbuild -->
        
        
        <script src="script/person.js"></script>
        
        
    </head>

    <body> 
        
        <h1>Projet Java EE</h1>

        <br/>
        
        <!-- Specify a Angular controller script that binds Javascript variables to the feedback messages.-->
        <div class="message" ng-controller="alertMessagesController">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>
        
        <tabset>
            <tab heading="Médecins">
        
                <br/>
                
                <div class="grid" ng-controller="listMedecinController">
                    <div>

                        <h3>Liste des Médecins</h3>
                    </div>

                    <!-- Binds the grid component to be displayed. -->
                    <div class="gridStyle" ng-grid="gridMedecin"></div>
                </div>

                <!-- Specify a Angular controller script that binds Javascript variables to the form.-->
                <div class="form" ng-controller="medecinFormController">
                    <!-- Verify person, if there is no id present, that we are Adding a Person -->
                    <div ng-if="medecin.id == null">
                        <h3>Ajouter un médecin</h3>
                    </div>
                    <!-- Otherwise it's an Edit -->
                    <div ng-if="medecin.id != null">
                        <h3>Modifier un médecin</h3>
                    </div>

                    <div>
                        <!-- Specify the function to be called on submit and disable HTML5 validation, since we're using Angular validation-->
                        <form name="medecinForm" ng-submit="updateMedecin()" novalidate>

                            <!-- Display an error if the input is invalid and is dirty (only when someone changes the value) -->
                            <div class="form-group" ng-class="{'has-error' : medecinForm.name.$invalid && medecinForm.name.$dirty}">
                                <label for="name">Nom</label>
                                <!-- Display a check when the field is valid and was modified -->
                                <span ng-class="{'glyphicon glyphicon-ok' : medecinForm.name.$valid && medecinForm.name.$dirty}"></span>

                                <input id="name" name="name" type="text" class="form-control" maxlength="50"
                                       ng-model="medecin.name"
                                       required ng-minlength="1" ng-maxlength="50"/>
                                <!-- Validation messages to be displayed on required, minlength and maxlength -->
                                <p class="help-block" ng-show="medecinForm.name.$error.required">Ajouter un nom</p>
                                <p class="help-block" ng-show="medecinForm.name.$error.maxlength">Le nom ne doit pas dépasser 50 caractères</p>
                            </div>

                            <!-- Display an error if the input is invalid and is dirty (only when someone changes the value) -->
                            <div class="form-group" ng-class="{'has-error' : medecinForm.firstName.$invalid && medecinForm.firstName.$dirty}">
                                <label for="firstName">Prénom</label>
                                <!-- Display a check when the field is valid and was modified -->
                                <span ng-class="{'glyphicon glyphicon-ok' : medecinForm.firstName.$valid && medecinForm.firstName.$dirty}"></span>

                                <input id="firstName" name="firstName" type="text" class="form-control" maxlength="100"
                                       ng-model="medecin.firstName"
                                       required ng-minlength="1" ng-maxlength="50"/>
                                <!-- Validation messages to be displayed on required, minlength and maxlength -->
                                <p class="help-block" ng-show="medecinForm.name.$error.required">Ajouter un prénom</p>
                                <p class="help-block" ng-show="medecinForm.name.$error.maxlength">Le prénom ne doit pas dépasser 50 caractères</p>
                            </div>

                            <!-- Form buttons. The 'Enregistrer' button is only enabled when the form is valid. -->
                            <div class="buttons">
                                <button type="button" class="btn btn-primary" ng-click="clearForm()">Effacer</button>
                                <button type="submit" class="btn btn-primary" ng-disabled="medecinForm.$invalid">Enregistrer</button>
                            </div>
                        </form>
                    </div>
                </div>
        
            </tab>
            <tab heading="Patients">
        
                <br/>
                
                <div class="grid" ng-controller="listPatientController">
                    <div>

                        <h3>Liste des Patients</h3>
                    </div>

                    <!-- Binds the grid component to be displayed. -->
                    <div class="gridStyle" ng-grid="gridPatient"></div>
                </div>

                <!-- Specify a Angular controller script that binds Javascript variables to the form.-->
                <div class="form" ng-controller="patientFormController">
                    <!-- Verify person, if there is no id present, that we are Adding a Person -->
                    <div ng-if="patient.id == null">
                        <h3>Ajouter un patient</h3>
                    </div>
                    <!-- Otherwise it's an Edit -->
                    <div ng-if="patient.id != null">
                        <h3>Modifier un patient</h3>
                    </div>

                    <div>
                        <!-- Specify the function to be called on submit and disable HTML5 validation, since we're using Angular validation-->
                        <form name="patientForm" ng-submit="updatePatient()" novalidate>

                            <!-- Display an error if the input is invalid and is dirty (only when someone changes the value) -->
                            <div class="form-group" ng-class="{'has-error' : patientForm.name.$invalid && patientForm.name.$dirty}">
                                <label for="name">Nom</label>
                                <!-- Display a check when the field is valid and was modified -->
                                <span ng-class="{'glyphicon glyphicon-ok' : patientForm.name.$valid && patientForm.name.$dirty}"></span>

                                <input id="name" name="name" type="text" class="form-control" maxlength="50"
                                       ng-model="patient.name"
                                       required ng-minlength="1" ng-maxlength="50"/>
                                <!-- Validation messages to be displayed on required, minlength and maxlength -->
                                <p class="help-block" ng-show="patientForm.name.$error.required">Ajouter un nom</p>
                                <p class="help-block" ng-show="patientForm.name.$error.maxlength">Le nom ne doit pas dépasser 50 caractères</p>
                            </div>

                            <!-- Display an error if the input is invalid and is dirty (only when someone changes the value) -->
                            <div class="form-group" ng-class="{'has-error' : patientForm.firstName.$invalid && patientForm.firstName.$dirty}">
                                <label for="firstName">Prénom</label>
                                <!-- Display a check when the field is valid and was modified -->
                                <span ng-class="{'glyphicon glyphicon-ok' : patientForm.firstName.$valid && patientForm.firstName.$dirty}"></span>

                                <input id="firstName" name="firstName" type="text" class="form-control" maxlength="100"
                                       ng-model="patient.firstName"
                                       required ng-minlength="1" ng-maxlength="50"/>
                                <!-- Validation messages to be displayed on required, minlength and maxlength -->
                                <p class="help-block" ng-show="patientForm.name.$error.required">Ajouter un prénom</p>
                                <p class="help-block" ng-show="patientForm.name.$error.maxlength">Le prénom ne doit pas dépasser 50 caractères</p>
                            </div>

                            <!-- Form buttons. The 'Enregistrer' button is only enabled when the form is valid. -->
                            <div class="buttons">
                                <button type="button" class="btn btn-primary" ng-click="clearForm()">Effacer</button>
                                <button type="submit" class="btn btn-primary" ng-disabled="patientForm.$invalid">Enregistrer</button>
                            </div>
                        </form>
                    </div>
                </div>
        
            </tab>
            <tab heading="Créneaux">
        
                <br/>
                
                <div class="grid" ng-controller="listCreneauController">
                    <div>

                        <h3>Liste des Créneaux libres</h3>
                    </div>

                    <!-- Binds the grid component to be displayed. -->
                    <div class="gridStyle" ng-grid="gridCreneau"></div>
                </div>

                <!-- Specify a Angular controller script that binds Javascript variables to the form.-->
                <div class="form" ng-controller="creneauFormController">
                    <!-- Verify person, if there is no id present, that we are Adding a Person -->
                    <div ng-if="creneau.id == null">
                        <h3>Ajouter un créneau</h3>
                    </div>
                    <!-- Otherwise it's an Edit -->
                    <div ng-if="creneau.id != null">
                        <h3>Modifier un créneau</h3>
                    </div>

                    <div>
                        <!-- Specify the function to be called on submit and disable HTML5 validation, since we're using Angular validation-->
                        <form name="creneauForm" ng-submit="updateCreneau()" novalidate>

                            <!-- Display an error if the input is invalid and is dirty (only when someone changes the value) -->
                            <div class="form-group" ng-class="{'has-error' : creneauForm.begin.$invalid && creneauForm.begin.$dirty}">
                                <label for="begin">Début</label>
                                <!-- Display a check when the field is valid and was modified -->
                                <span ng-class="{'glyphicon glyphicon-ok' : creneauForm.begin.$valid && medecinForm.begin.$dirty}"></span>

                                <input id="begin" name="begin" type="datetime-local" class="form-control"
                                       ng-model="creneau.begin"
                                       placeholder="yyyy-MM-ddTHH:mm:ssZ"
                                       required/>
                            </div>
                            
                            <!-- Display an error if the input is invalid and is dirty (only when someone changes the value) -->
                            <div class="form-group" ng-class="{'has-error' : creneauForm.end.$invalid && creneauForm.end.$dirty}">
                                <label for="end">Fin</label>
                                <!-- Display a check when the field is valid and was modified -->
                                <span ng-class="{'glyphicon glyphicon-ok' : creneauForm.end.$valid && medecinForm.end.$dirty}"></span>

                                <input id="end" name="end" type="datetime-local" class="form-control"
                                       placeholder="yyyy-MM-ddTHH:mm:ssZ"
                                       ng-model="creneau.end"
                                       required/>
                            </div>

                            <!-- Display an error if the input is invalid and is dirty (only when someone changes the value) -->
                            <div class="form-group" ng-class="{'has-error' : creneauForm.idMedecin.$invalid && creneauForm.idMedecin.$dirty}">
                                <label for="medecin">Médecin</label>
                                <!-- Display a check when the field is valid and was modified -->
                                <span ng-class="{'glyphicon glyphicon-ok' : creneauForm.idMedecin.$valid && creneauForm.idMedecin.$dirty}"></span>

                                <select class="form-control" id="medecin" 
                                        ng-model="medecin" 
                                        ng-options="x.name+' '+x.firstName for x in medecins track by x.id"
                                        ng-change="changeMedecin(medecin)">
                                </select>
                            </div>

                            <!-- Form buttons. The 'Enregistrer' button is only enabled when the form is valid. -->
                            <div class="buttons">
                                <button type="button" class="btn btn-primary" ng-click="clearForm()">Effacer</button>
                                <button type="submit" class="btn btn-primary" ng-disabled="creneauForm.$invalid">Enregistrer</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="form" ng-controller="creneauFormController">
                    <!-- Otherwise it's an Edit -->
                    <div ng-if="creneau.id != null">
                        <h3>Prendre RDV</h3>
                    </div>

                    <div ng-if="creneau.id != null">
                        <!-- Specify the function to be called on submit and disable HTML5 validation, since we're using Angular validation-->
                        <form name="addRDVForm" ng-submit="addRDV()" novalidate>
                            
                            <!-- Display an error if the input is invalid and is dirty (only when someone changes the value) -->
                            <div class="form-group" ng-class="{'has-error' : creneauForm.idPatient.$invalid && creneauForm.idPatient.$dirty}">
                                <label for="patient">Patient</label>
                                <!-- Display a check when the field is valid and was modified -->
                                <span ng-class="{'glyphicon glyphicon-ok' : creneauForm.idPatient.$valid && creneauForm.idPatient.$dirty}"></span>

                                <select class="form-control" id="patient" 
                                        ng-model="patient" 
                                        ng-options="x.name+' '+x.firstName for x in patients track by x.id"
                                        ng-change="changePatient(patient)">
                                </select>
                            </div>

                            <!-- Form buttons. The 'Enregistrer' button is only enabled when the form is valid. -->
                            <div class="buttons">
                                <button type="button" class="btn btn-primary" ng-click="clearForm()">Effacer</button>
                                <button type="submit" class="btn btn-primary" ng-disabled="creneauForm.$invalid">Prendre RDV</button>
                            </div>
                        </form>
                    </div>
                </div>
            </tab>
            <tab heading="RDVs">
        
                <br/>
                
                <div class="grid" ng-controller="listRDVController">
                    <div>

                        <h3>Liste des RDVs</h3>
                    </div>

                    <!-- Binds the grid component to be displayed. -->
                    <div class="gridStyle" ng-grid="gridRDV"></div>
                </div>

                <!-- Specify a Angular controller script that binds Javascript variables to the form.-->
                <div class="form" ng-controller="rdvFormController">
                    <!-- Otherwise it's an Edit -->
                    <div ng-if="rdv.id != null">
                        <h3>Modifier un rdv</h3>
                    </div>

                    <div ng-if="rdv.id != null">
                        <!-- Specify the function to be called on submit and disable HTML5 validation, since we're using Angular validation-->
                        <form name="rdvForm" ng-submit="updateRDV()" novalidate>

                            <!-- Display an error if the input is invalid and is dirty (only when someone changes the value) -->
                            <div class="form-group" ng-class="{'has-error' : rdvForm.idCreneau.$invalid && rdvForm.idCreneau.$dirty}">
                                <label for="creneau">Créneau</label>
                                <!-- Display a check when the field is valid and was modified -->
                                <span ng-class="{'glyphicon glyphicon-ok' : rdvForm.idCreneau.$valid && rdvForm.idCreneau.$dirty}"></span>

                                <select class="form-control" id="creneau" 
                                        ng-model="rdv.creneau" 
                                        ng-options="(x.begin | date:'dd/MM/yyyy HH:mm') + ' avec ' + x.medecin.name+' '+x.medecin.firstName for x in creneaux track by x.id"
                                        ng-change="changeCreneau(rdv.creneau)">
                                </select>
                            </div>
                            
                            <!-- Display an error if the input is invalid and is dirty (only when someone changes the value) -->
                            <div class="form-group" ng-class="{'has-error' : rdvForm.idPatient.$invalid && rdvForm.idPatient.$dirty}">
                                <label for="idPatient">Patient</label>
                                <!-- Display a check when the field is valid and was modified -->
                                <span ng-class="{'glyphicon glyphicon-ok' : rdvForm.idPatient.$valid && rdvForm.idPatient.$dirty}"></span>
                                
                                <select class="form-control" id="patient" 
                                        ng-model="rdv.patient" 
                                        ng-options="x.name+' '+x.firstName for x in patients track by x.id"
                                        ng-change="changePatient(rdv.patient)">
                                </select>
                            </div>

                            <!-- Form buttons. The 'Enregistrer' button is only enabled when the form is valid. -->
                            <div class="buttons">
                                <button type="button" class="btn btn-primary" ng-click="clearForm()">Effacer</button>
                                <button type="submit" class="btn btn-primary" ng-disabled="rdvForm.$invalid">Enregistrer</button>
                            </div>
                        </form>
                    </div>
                </div>
        
            </tab>
        </tabset>
    </body>
</html>